$char_color:#505050;      //文字・線のカラー（グレー）
$accent_color1:#B0FFA9;   //カラーその1（淡いグリーン）
$accent_color2:#453319;   //カラーその2(濃いこげ茶)
$accent_color3:#ffc778;    //カラーその3(薄いオレンジ)
$accent_color4:skyblue;    //カラーその4(空色)
$back_color:#dafed7;      //背景色（薄いミントグリーン）

$tableHead_color:#453319; //濃いこげ茶
$btn1_color:#1c4467; //紺色
$btn1Hover_color:#3B709F; //薄い紺色
$glNav_color:#453319; //濃いこげ茶
$footer_color:#453319; //濃いこげ茶
$glNavHover_color:#2f7f26; //濃いグリーン
$pageTopIco_color:#555555;  //薄いグレー
$pageTopIcoHover_color:#777777; //グレー
$h2title_color:#1c4467; //紺色
$h3title_color1:#ffc778; //薄いオレンジ
$h3title_color2:skyblue; //空色

