@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash|Merienda+One|Norican|Pacifico");
/****************************/
/* first 初めての方へ */
/***************************/
/* Green Forestとは */
#aboutus {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#aboutus article {
  margin-top: 20px;
}

.wrapper {
  display: flex;
}

#aboutus .wrapper img {
  width: 150px;
}

#case {
  text-indent: 30px;
  list-style: none;
}

#case li:before {
  font-family: FontAwesome;
  content: '\f086';
  /* アイコンのunicode */
}

/****************************/
/* 施術料金 */
/***************************/
#price {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#price table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#price table #h {
  width: 30%;
}

#price table th {
  background-color: #B0FFA9;
}

/****************************/
/* よくある質問 */
/***************************/
#QandA-1 {
  width: 100%;
  font-family: メイリオ;
  font-size: 14px;
  /*全体のフォントサイズ*/
}

#QandA-1 dt {
  background: #B0FFA9;
  /* 「Q」タイトルの背景色 */
  font-weight: bold;
  padding: 8px;
  border-radius: 25px;
}

#QandA-1 dt:before {
  content: "Q.";
  font-weight: bold;
  margin-right: 8px;
}

#QandA-1 dd {
  margin: 24px 16px 40px 32px;
  line-height: 140%;
  text-indent: -24px;
}

#QandA-1 dd:before {
  content: "A.";
  font-weight: bold;
  margin-right: 8px;
}

#QandA-1 .strong {
  font-weight: bold;
}
